<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Calculator</title>
  </head>
  <body>
    <calc-widget></calc-widget>
    <script type="text/javascript" src="/config.js"></script>
  </body>
</html>